{
  "extends": ["stylelint-config-standard", "stylelint-config-clean-order"],
  "customSyntax": "postcss-styled-syntax",
  "rules": {
    "alpha-value-notation": "percentage",
    "color-function-notation": "legacy",
    "color-hex-length": "long",
    "custom-property-empty-line-before": null,
    "function-name-case": [
      "lower",
      {
        "ignoreFunctions": ["/^[a-z](|[a-zA-Z0-9]+)$/"]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "keyframes-name-pattern": "^[a-z][a-zA-Z0-9_]+$",
    "property-no-unknown": [true, {
      "ignoreProperties": ["-webkit-tap-highlight-color"]
    }],
    "value-keyword-case": null,
    "media-query-no-invalid": null
  }
}
