.info___Container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 100px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 190px;
  font-weight: 700;
}

/* .title {
} */

.close {
  color: #999;
  font-size: 10px;
}

.body {
  font-size: 12px;
  color: #555;
  display: flex;
  justify-content: space-between;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.heartSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.heartWrapper {
  cursor: pointer;
}

.heartCnt {
  font-weight: 500;
  color: #777;
}
